/*!
File name: style.css
Student’s Name: Ibrahim Goddi
StudentID: 301122092
Date: Oct 3, 2020
*/

.special-background {
  /* This class makes the background transparent.*/
  background-color: rgba(245, 245, 245, 1);
  opacity: .4;
}
